.home {
  position: relative;
}
.home button {
  position: absolute;
  cursor: pointer;
  top: 40px;
  right: 100px;
  padding: 12px 30px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  background: #007bff; /* Changed to blue */
  color: #fff;
  transition: all 0.3s;
}
.home button:hover {
  background: #0056b3; /* Changed to a darker blue */
  color: #fff;
  transition: all 0.3s;
}
@media(max-width: 1000px){
    .home button{
        right: 30px;
    }
}